# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Logs / cache
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env*.local

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.pem

# TypeScript
*.tsbuildinfo
